@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .text-stroke-light {
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
  }

  .dark .text-stroke-light {
    -webkit-text-fill-color: rgb(20, 21, 26);
    -webkit-text-stroke: 1px white;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 400px) {
  .custom-400 {
    width: 10rem;   
    height: 6rem;  
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
}
